@page "/hangman"
<h1 class='hide-on-mobile' >Hangman </h1>
<PageTitle>Hangman</PageTitle>
<div class='row'>
    <div class='col-md-8'>
        <h2 class='hide-on-mobile' >Guess the word by selecting letters.</h2>
        @if (!HideKey)
        {
            <div class="col-auto">
                <label class="visually-hidden">API Key</label>
                <input class="form-control form-control-sm" placeholder="API Key" type="password" style="width:200px"
                    @bind="@apiKey" />
            </div>
            <button class='btn btn-primary' @onclick="(() => HideKey = true)">Submit</button>
        }
        <button accesskey='1' class='btn btn-primary btn-sm' @onclick="(() =>  StartNewGame())"><u>1</u> Load New Word</button>
        <div>
            <br />
            @if (CurrentWord != null)
            {
                @foreach (char letter in CurrentWord)
                {
                    if (CorrectGuesses.Contains(letter))
                    {
                        <button class='btn btn-sm btn-success m-1' disabled>@letter</button>
                    }
                    else if (letter == ' ')
                    {
                        <button class='btn btn-sm btn-outline-secondary m-1'>/</button>
                    }
                    else
                    {
                        <button class='btn btn-sm btn-outline-danger m-1'>_</button>
                    }
                }
            }
            <br />
            <br />
        </div>

        <div>
            <h2 class='fs-3 text-success hide-on-mobile'>@WordDescription</h2>
            <h6 class='fs-6 text-success show-on-mobile'>@WordDescription</h6>

            @if (loading)
            {
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            <p>
            @if (IncorrectGuesses != null && IncorrectGuesses.Count > 0)
            {
                <span class='hide-on-mobile' >Incorrect: @IncorrectGuesses.Count </span> 
            }
            else
            {
                <span class='hide-on-mobile' >Incorrect: 0 &nbsp;</span>
            }
            @if (CorrectGuesses != null && CorrectGuesses.Count > 0)
            {
                <span> Correct: @CorrectGuesses.Count </span>
            }
            else
            {
                <span> Correct: 0 </span>
            }
            </p>
            <h6 class='text-danger'>@GameStatus</h6>
            @if (GameStatus.Contains("You lose!") || GameStatus == "You win!")
            {
                <button accesskey='2' class='btn btn-lg btn-danger' @onclick="(() => StartNewGame())"><u>2</u> Play
                    Again</button>
            }
        </div>
        <br class='hide-on-mobile'  />
        <br class='hide-on-mobile'  />
        <div>
            @if (CorrectGuesses != null && IncorrectGuesses != null)
            {
                <div class='letters-container'>
                    @foreach (var letter in Alphabet.OrderBy(x => x))
                    {
                        if (CorrectGuesses.Contains(letter) || IncorrectGuesses.Contains(letter))
                        {
                            <button class='letter btn btn-sm btn-secondary m-1' disabled>@letter</button>
                        }
                        else
                        {
                            <button accesskey='@letter' class='letter btn btn-sm btn-outline-danger m-1'
                                @onclick="(() => MakeGuess(letter))">@letter</button>
                        }
                    }
                </div>
            }
        </div>
    </div>
    <div class='col-md-4'>
        @if (IncorrectGuesses?.Count < HangmanStages.Count)
        {
            <pre class='fs-3'>@HangmanStages[IncorrectGuesses.Count]</pre>
        }
    </div>
</div>
@if (GameStatus == "You win!")
{
    <PlaySound AnswerState=true Play=true />
}
else if (GameStatus.Contains("You lose!"))
{
    <PlaySound AnswerState=false Play=true />
}
else
{
    <PlaySound AnswerState=false Play=false />
}
